@media only screen and (min-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  h3 {
    font-size: 7vh;
   }
  p.card-subtitle {
    font-size: 5vh;
  }
   p.card-text {
    font-size: 4.5vh;
  }
  .fa-dollar-sign {
    font-size: 1.5em;
  }
  .fa-shopping-cart {
    font-size: 1.5em;
  }
  img.card-img-top {
    display: flex;
    width: 25%;
    object-fit: contain;
  }
  .cat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
}

img {
  object-fit: contain;
}

p {
  font-size: 1.1rem;
}

.select:hover {
   -moz-box-shadow:    inset 0 0 10px #f80303;
   -webkit-box-shadow: inset 0 0 10px #f80303;
   box-shadow:         inset 0 0 10px #f80303;
}

div.header {
  margin: 0 auto;
}
