img {
  object-fit: contain;
}

p {
  font-size: 1.1rem;
}

h4 {
  padding-left: 8rem;
}

.inner-shadow:hover {
   -moz-box-shadow:    inset 0 0 10px #f7df0c;
   -webkit-box-shadow: inset 0 0 10px #f78606;
   box-shadow:         inset 0 0 10px #f80303;
}
